# Don't track content of these folders


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Custom #
##########
# files that each contributor keeps in their folders that are not part of the project
y.tab.c
y.tab.h
lex.yy.c
out
input
test
output.c
exampleCode
a.out
vgcore*